/* Couleur de fond du StackPane */
.stack-pane {
    -fx-background-color: #16425B;
}

/* Styles pour les éléments de formulaire */
.label {
    -fx-font-family: "Roboto Light";
    -fx-font-size: 16px;
    -fx-text-fill: #555555;
}

.title {
    -fx-text-fill: #ffffff;
    -fx-font-family: "Roboto Thin";
    -fx-font-size: 60px;
    -fx-font-weight: bold;
    -fx-end-margin: 2050px;
}

.title2 {
    -fx-text-fill: #ffffff;
    -fx-font-family: "Roboto Thin";
    -fx-font-size: 40px;
    -fx-font-weight: bold;
    -fx-end-margin: 2050px;
}

.text-field, .password-field {
    -fx-font-family: "Roboto Thin";
    -fx-font-size: 14px;
    -fx-prompt-text-fill: #888888;
    -fx-background-color: #ffffff;
    -fx-background-insets: 0;
    -fx-padding: 20px;
    -fx-end-margin: 30px;
    -fx-border-width: 1px;
    -fx-border-color: #cccccc;
    -fx-border-radius: 4px;
}

/* Style pour le bouton de connexion */
.button {
    -fx-background-color: linear-gradient(to bottom, #4cb8e1 0%, #188dc1 100%);
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-width: 2;
    -fx-border-color: #188dc1;
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-padding: 10 30;
}

/* Style pour le bouton de connexion lorsqu'il est survolé */
.button:hover {
    -fx-background-color: #0057ae;
    -fx-border-color: #0057ae;
}

/* Styles pour le logoPane */
.logo-pane {
    -fx-background-color: transparent;
    -fx-translate-x: -50%;
    -fx-translate-y: -50%;
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 10px;
}

/* Styles pour le loadingPane */
.loading-pane {
    -fx-background-color: rgba(255, 255, 255, 0.8);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 2, 2);
    -fx-border-width: 1px;
    -fx-border-color: #cccccc
}

/* Centre le loadingPane */
.loading-pane > * {
    -fx-alignment: CENTER;
}

/* Styles pour le errorPane */
.error-pane {
    -fx-background-color: #16425B;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 2, 2);
    -fx-border-width: 1px;
    -fx-border-color: #cccccc;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px;
    -fx-alignment: CENTER;
}

/* Animations */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes slide-down {
    0% {
        opacity: 0;
        -fx-translate-y: -50%;
    }
    100% {
        opacity: 1;
        -fx-translate-y: 0%;
    }
}

@keyframes slide-up {
    0% {
        opacity: 0;
        -fx-translate-y: 50%;
    }
    100% {
        opacity: 1;
        -fx-translate-y: 0%;
    }
}

/* Applique l'animation pulse à la logo-pane */
.logo-pane {
    animation: pulse 2s ease-in-out infinite;
}

/* Applique l'animation slide-down au loadingPane */
.loading-pane {
    animation: slide-down 0.5s ease-in-out forwards;
}

/* Applique l'animation slide-up au errorPane */
.error-pane {
    animation: slide-up 0.5s ease-in-out forwards;
}